html {
	text-align: center;
	float: left;
	border: 1px solid black;
	padding-left: 15px;
	font-size: 15px;
	font-style: bold;
	background-image:url(Asics.jpg);
}
a {
	color: orange;
	font-style: bold;
}
#p1 {
	margin-top: 40%;
}
body {
	z-index: 3;
	font-style: italic;
	font-size: 30px;
	color: red;
	font-style: bold;
}